/build
/outputs
*.apk
*.aab
.env*
*.env*
google-services.json
GoogleService-Info.plist
agconnect-services.json
credentials.json
secrets.properties
secrets.json
secrets.xml
*.jks
*.keystore
mapping.txt
missing_rules.txt
seeds.txt
usage.txt
